/*
.quicknavi-btn-group.transparent .btn-default {
    background-color: #eef0f3;
    border: 1px solid #dfe3e9;
}
 */
.quicknavi-btn-group.transparent .btn-default b {
    font-weight: 400;
}
/*
.quicknavi-btn-group.transparent .btn-default:hover,
.quicknavi-btn-group.transparent .btn-default:active,
.quicknavi-btn-group.transparent .btn-default:focus,
.quicknavi-btn-group.transparent .btn-group.open .dropdown-toggle {
    background-color: #fff;
    border-color: #dfe3e9;
    box-shadow: none;
}
*/

.quicknavi,
.quicknavi #qsearch .form-control {
    font-size: 13px;
}

.quicknavi #qsearch {
    width: 100%;
    margin: 0;
    margin-top: -5px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #dfe3e9;
    box-shadow: none;
}
.quicknavi #qsearch .form-control {
    height: 36px;
    padding: 6px 12px;
    background-color: #f3f6fb;
    border: 0;
}
.quicknavi #qsearch .form-control:focus {
    border-color: transparent;
    box-shadow: none;
}
.quicknavi #qsearch .input-group-addon {
    display: none;
}

.quicknavi .dropdown-header {
    margin-bottom: 0;
}

.quicknavi ul > li,
.quicknavi-items > li {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #dfe3e9;
}
.quicknavi ul li:hover,
.quicknavi-items > li:hover {
    background-color: #e0f5ee;
}
.quicknavi .rex-primary-id,
.quicknavi.quicknavi-items small {
    font-size: 85%;
}

.quicknavi.quicknavi-items > li {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.quicknavi.quicknavi-items li .quicknavi_left,
.quicknavi.quicknavi-items li .quicknavi_right {
    float: none;
}
.quicknavi.quicknavi-items li a.quicknavi_left {
    border-left-width: 2px;
}

.quicknavi.quicknavi-items li .quicknavi_right {
    padding-top: 0;
    text-align: center;
}
.quicknavi.quicknavi-items li .quicknavi_right a {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 5px;
    color: #9ca5b2;
    text-align: center;
}
.quicknavi.quicknavi-items li .quicknavi_right a:hover {
    color: inherit;
}
.quicknavi.quicknavi-items > li.quicknavi_left,
.quicknavi.quicknavi-items > li.quicknavi_right {
    width: auto;
}
.quicknavi.quicknavi-items > li.quicknavi_right {
    display: none;
}
