body {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.table th.rex-table-action:not([colspan]),
.table td.rex-table-action:not([colspan]) {
    width: 1px;
}

@media (min-width: 1200px) {
    .table th.rex-table-action,
    .table td.rex-table-action {
        padding-left: 16px;
        padding-right: 16px;
    }
}
