/*:not(.form-off) > [id^="yform-formular-intro"] label,*/
/*.yform :not(.form-off) > [id$="title"] label,*/
/*.yform :not(.form-off) > [id$="title_1"] label,*/
/*.yform :not(.form-off) > [id$="title_2"] label,*
/*.yform :not(.form-off) > [id$="text"] label {*/
    /*display: none;*/
/*}*/


/*
.yform :not(.form-off) > [id$="intro"] .form-control,
.yform :not(.form-off) > [id$="title"] .form-control,
.yform :not(.form-off) > [id$="title_1"] .form-control,
.yform :not(.form-off) > [id$="title_2"] .form-control,
.yform :not(.form-off) > [id$="text"] .form-control {
    height: auto;
    padding: 20px;
    background: #fff;
    border: 0;
    box-shadow: none;
}
[id$="text"] .redactor-layer {
    background: #fff;
    border: 0;
}
.yform .tab-content [id$="intro"] .form-control,
.yform .tab-content [id$="title"] .form-control,
.yform .tab-content [id$="title_1"] .form-control,
.yform .tab-content [id$="title_2"] .form-control,
.yform .tab-content [id$="text"] .form-control,
.yform .tab-content .redactor-layer {
    background: #f3f6fb;
}

:not(.form-off) > [id^="yform-formular-intro"] .form-control {
    font-size: 16px;
}

.yform :not(.form-off) > [id$="title"] .form-control,
.yform :not(.form-off) > [id$="title_1"] .form-control,
.yform :not(.form-off) > [id$="title_2"] .form-control {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 28px;
}
*/

.redactor-box .redactor-toolbar {
    box-shadow: inset 0 -1px 0px 0px rgba(0, 0, 0, 0.2);
}
.tab-content .redactor-box .redactor-toolbar {
    background: #EDF0F5;
}

.formfieldset + .formfieldset  {
    margin-top: 2em;
}

.hide-following-labels ~ .form-group label {
    display: none;
}

.yform-list-label,
.yform-dataset-label {
    display: none;
}
.table .yform-list-label {
    display: inline-block;
}
.yform .yform-dataset-label {
    display: inline-block;
}
